*,
*::before
*::after {
    box-sizing: bordex-box;
}
body{
    margin: 0;
}


/*--------------------
 SECTION HEADER
-----------------*/

header{
	margin: 0 auto;
}

header > div {
  justify-content: space-between;
  align-items: center;
}

header {
  position: fixed;
  width: 100%;
}

.container{
  	margin: 0 auto;
  	max-width: 1366px;
} 


.flex{
  display: flex;
}

.main-navigation{
  	justify-content: flex-end;	
} 

.main-navigation ul{
	list-style-type: none;
	display: flex;
	flex-direction: row;
}

.main-navigation li a{
	text-decoration: none;
	padding: 30px;
}


nav {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
}

/*--------------------
 SECTION HERO
-----------------*/

.hero{
	margin: 0 auto;
}


.button{
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 0.75rem;
  letter-spacing: 0.1em;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 35px;
  background-color: #10c9c3;
  display: inline-block;
 }

h1{
	font-family: 'Montserrat', sans-serif;
}

.text{
  font-family: 'Nunito Sans', sans-serif;
  color: #787878;

}

.hero {
  background-image: url(../images/hero.jpg);
  background-size: cover;
  background-position: center;
}

.hero .container {
  justify-content: flex-end;
  min-height: 40vh;
  padding: 150px;
}

.hero .hero-content {
  max-width: 480px;
}

/*--------------------
 SECTION ABOUT US
-----------------*/
.about {
  flex-direction: column;
  align-items: center;
  padding: 64px 0;
}

.content{
  width: 40%;
  text-align: center;
}

h2{
  font-family: 'Montserrat', sans-serif;
}

/*--------------------
 SECTION STATISTICS
-----------------*/

.company-statistics{
	background-color: #10c9c3;
}
.box{
  display: flex;
  width: 25%;
}

.icon{
  padding: 70px 20px 70px 0;
}


.info{
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-weight: 500;
  font-size: 0.75rem;
  letter-spacing: 0.1em;
  padding: 60px 20px 70px 0;
}
/*--------------------
GALLERY
-----------------*/
.gallery-grid{
  max-width: 100%;
}
.pictures{
  flex-wrap: wrap;
}

.box{
  width: 25%;
}

.gallery-btn{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 0.75rem;
  color: #8e8e8e;
  text-transform: uppercase;

  
}

/*--------------------
 SECTION SERVICES
-----------------*/

.services .container{
	flex-wrap: wrap;
  padding: 60px 0;
}

.service-box{
  width: 20%;
  padding: 20px 25px;
  text-align: center;
}

.service-box h3{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 0.75rem;
  color: #191919;
}
.service-box p{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 500;
    font-size: 0.75rem;
    color: #787878;
}

/*--------------------
 SECTION QUOTE
-----------------*/

.quote{
	background-color: #10c9c3;
  padding: 64px 0;
}
.quote .container{
    flex-direction: column;
    align-items: center;
}

.quote-content{
  width: 50%;
  text-align: center;
  padding: 80px;
  color: #fff;
}
.quote-content h4{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
}

.quote-content p{
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 500;
  font-size: 0.90rem;
}



/*
font-family: 'Nunito Sans', sans-serif;
font-family: 'Work Sans', sans-serif;*/