*,
*::before
*::after {
    box-sizing: bordex-box;
}
body{
    margin: 0;
}


/*--------------------
 SECTION HEADER
-----------------*/

header{
	margin: 0 auto;
}

header > div {
  justify-content: space-between;
  align-items: center;
}

header {
  position: fixed;
  width: 100%;
}

.container{
  	margin: 0 auto;
  	max-width: 1366px;
} 


.flex{
  display: flex;
}

.main-navigation{
  	justify-content: flex-end;	
} 

.main-navigation ul{
	list-style-type: none;
	display: flex;
	flex-direction: row;
}

.main-navigation li a{
	text-decoration: none;
	padding: 30px;
}


nav {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
}

/*--------------------
 SECTION HERO
-----------------*/

.hero{
	margin: 0 auto;
}


button{
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 0.75rem;
  letter-spacing: 0.1em;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 25px 45px;
  background-color: #10c9c3;
  display: inline-block;
 }

h1{
	font-family: 'Montserrat', sans-serif;
}

.hero {
  background-image: url(../images/hero.jpg);
  background-size: cover;
  background-position: center;
}

.hero .container {
  justify-content: flex-end;
  min-height: auto;
  padding: 109px 0;
}

.hero .hero-content {
  max-width: 480px;
}

/*--------------------
 SECTION ABOUT US
-----------------*/
.about-us .container{
  flex-direction: column;
  align-items: center;
}

.content{
  width: 50%;
}
/*--------------------
 SECTION STATISTICS
-----------------*/


.company-statistics{
	background-color: #10c9c3;
}

/*--------------------
 SECTION SERVICES
-----------------*/

.services .container{
	flex-wrap: wrap;
}

.box{
  width: 25%;
}

.service-box{
  width: 25%;
}
/*--------------------
 SECTION QUOTE
-----------------*/

.quote{
	background-color: #10c9c3;
}

.quote .container{
  flex-direction: column;
  align-items: center;
}

/*
font-family: 'Nunito Sans', sans-serif;
font-family: 'Work Sans', sans-serif;*/